<form action="https://www.getdrip.com/forms/{{form_id}}/submissions" method="post" data-drip-embedded-form="{{form_id}}">
  <div class="form-group">
      <input type="email" id="drip-email" name="fields[email]" value="" class="form-control form-control-lg" />
    <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary"/>
  </div>
  <div style="display: none;" aria-hidden="true">
    <label for="website">Website</label><br />
    <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
  </div>
</form>
