<form method="POST" action="https://devchat.activehosted.com/proc.php" id="_form_5_" class="_form _form_5 _inline-form  _dark" novalidate>
  <input type="hidden" name="u" value="5" />
  <input type="hidden" name="f" value="5" />
  <input type="hidden" name="s" />
  <input type="hidden" name="c" value="0" />
  <input type="hidden" name="m" value="0" />
  <input type="hidden" name="act" value="sub" />
  <input type="hidden" name="v" value="2" />
  <div class="_form-content">
    <div class="_form_element _x65343985 _full_width " >
      <div class="_field-wrapper form-group">
        <input type="text" name="fullname" placeholder="Name" class="form-control" />
      </div>
    </div>
    <div class="_form_element _x57406254 _full_width " >
      <div class="_field-wrapper form-group">
        <input type="text" name="email" placeholder="Email" required class="form-control" />
      </div>
    </div>
    <div class="_button-wrapper _full_width">
      <button id="_form_5_submit" class="_submit btn btn-primary" type="submit">
        Submit
      </button>
    </div>
    <div class="_clear-element">
    </div>
  </div>
  <div class="_form-thank-you" style="display:none;">
    <h4>You are friggin' awesome!</h4>
  </div>
</form>
