<div class="widgets widgets-item">
  <h3 class="widgets-title">
    <span>Current Sponsors</span>
  </h3>

  <a href="https://app.podwrench.com/podcasts/{{podcasts[ podcast ].slug}}/square_1"><img src="https://app.podwrench.com/podcasts/{{podcasts[ podcast ].slug}}/square_img_1"></a>
  <a href="https://app.podwrench.com/podcasts/{{podcasts[ podcast ].slug}}/square_2"><img src="https://app.podwrench.com/podcasts/{{podcasts[ podcast ].slug}}/square_img_2"></a>
</div>