<div class="ts-grid-item ts-grid-item1 mb-20">
    <div class="ts-title-item clearfix">
        <h2 class="ts-cat-title float-left">
            <span>{{ postsliststitle }}</span>
        </h2>
        <div class="float-right">
            <a href="{{ postslistslink }}" class="view-all-link">View All</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="item">
                <div class="ts-post-thumb">

                    <a href="#">
                        <img class="img-fluid" src="/images/news/health/health8.jpg" alt="">
                    </a>
                </div>
                <div class="post-content">
                    <a class="cat-name purple-color" href="#">Health</a>
                    <h3 class="post-title md">
                        <a href="#">They are backed up Kennedy Darling and Cras named to return</a>
                    </h3>
                    <ul class="post-meta-info">
                        <li>
                            <i class="fa fa-clock-o"></i>
                            Jun 21, 2019
                        </li>
                    </ul>
                    <p>
                        Black farmers in the USA is South faced with the most continued failure in their efforts to run
                    </p>
                </div>
            </div>
            <!-- ts-grid-box end-->
        </div>
        <!-- col end-->
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="item mb-20">
                        <div class="ts-post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="/images/news/health/health3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="#">Tourism Dubai booming international tourist</a>
                            </h3>
                            <span class="post-date-info">
                                <i class="fa fa-clock-o"></i>
                                March 21, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-6">
                    <div class="item mb-20">
                        <div class="ts-post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="/images/news/health/health2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="#">Man plans to ride out Hurricane on a boat</a>
                            </h3>
                            <span class="post-date-info">
                                <i class="fa fa-clock-o"></i>
                                March 21, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-6">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="/images/news/health/health1.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="#">How to get the most when selling your iPhone</a>
                            </h3>
                            <span class="post-date-info">
                                <i class="fa fa-clock-o"></i>
                                March 21, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-6">
                    <div class="item">
                        <div class="ts-post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="/images/news/health/health7.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="#">Google vote-shifting threatens both right & left</a>
                            </h3>
                            <span class="post-date-info">
                                <i class="fa fa-clock-o"></i>
                                March 21, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <!-- col end-->
            </div>
        </div>
    </div>
    <!-- row end-->

</div>
<!-- ts grid item end-->
