<div class="ts-grid-item ts-grid-item1 mb-20">
    <div class="ts-title-item clearfix">
        <h2 class="ts-cat-title float-left">
            <span>{{ title | safe }}</span>
        </h2>
        <div class="float-right">
            <a href="{{ viewalllink | url }}" class="view-all-link">View All</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {% for post in postslist | head(-1) %}
                <div class="item">
                    <div class="ts-post-thumb">
                        <a href="{{ post.url | url }}">
                            <img class="img-fluid" src="{{ post.data.image }}" alt="" style="max-height: 100%">
                        </a>
                    </div>
                    <div class="post-content">
                        <a class="cat-name purple-color" href="{{ viewalllink | url }}">{{ title }}</a>
                        <h3 class="post-title md">
                            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                        </h3>
                        <ul class="post-meta-info">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                {{ post.data.date | date }}
                            </li>
                        </ul>
                        <p>
                            
                        </p>
                    </div>
                </div>
                <!-- ts-grid-box end-->
            {% endfor %}
        </div>
        <!-- col end-->
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    {% for post in postslist | head(-5) | reverse %}{% if loop.index > 1 %}{% if loop.index <= 3 %}
                        <div class="item mb-20">
                            <div class="ts-post-thumb">
                                <a href="{{ post.url | url }}">
                                    <img class="img-fluid" src="{{post.data.image}}" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    {{ post.data.date | date }}
                                </span>
                            </div>
                        </div>
                    {% endif %}{% endif %}{% endfor %}
                </div>
                <!-- col end-->
                <div class="col-lg-6">
                    {% for post in postslist | head(-5) | reverse %}{% if loop.index > 3 %}
                        <div class="item mb-20">
                            <div class="ts-post-thumb">
                                <a href="{{ post.url | url }}">
                                    <img class="img-fluid" src="/images/podcasts/{{podcasts[ post.data.podcast ].artwork}}" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
                                </h3>
                                <span class="post-date-info">
                                    <i class="fa fa-clock-o"></i>
                                    {{ post.data.date | date }}
                                </span>
                            </div>
                        </div>
                    {% endif %}{% endfor %}
                </div>
                <!-- col end-->
            </div>
        </div>
    </div>
    <!-- row end-->

</div>
<!-- ts grid item end-->
