<div id="search-overlay" class="block">
  <div class="centered">
    <div id='search-box'>
      <i id="close-btn" class="fa fa-times fa-2x"></i>
      <form action='/search' id='search-form' method='get' target='_top'>
        <input id='search-text' name='q' placeholder='Search' type='text' />
        <button id='search-button' type='submit'>                     
          <span>Search</span>
        </button>
      </form>
    </div>
    <div class="ais-InstantSearch">
      <div class="right-panel">
        <div id="searchbox"></div>
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>