<div class="col-lg-6">
  <div class="ts-title-item">
    <h2 class="ts-cat-title ">
      <span>{{title}}</span>
    </h2>
  </div><!-- Title end -->
  <div class="post-list-box ts-list-post-box ts-grid-content">

  <div class="ts-overlay-style">
    <div class="item">
      <div class="ts-post-thumb">
        <a href="#">
          <img class="img-fluid" src="/images/news/health/health1.jpg" alt="">
        </a>

      </div>
      <div class="overlay-post-content">
        <div class="post-content">

          <h3 class="post-title md">
            <a href="#">Tourism Dubai booming international tourist most visited place</a>
          </h3>
        </div>
      </div>
    </div>
    <!-- end item-->
  </div>

  <div class="post-content media">
    <a href="#">
      <img class="d-flex" src="/images/news/health/health4.jpg" alt="">
    </a>
    <div class="media-body align-self-center">
      <h3 class="post-title">
        <a href="#">help us make mfs better with our reader better with our reader survey</a>
      </h3>
      <span class="post-date-info">
        <i class="fa fa-clock-o"></i>
        March 21, 2019
      </span>
    </div>
  </div>
  <!-- end item-->
  <div class="post-content media">
    <a href="#">
      <img class="d-flex" src="/images/news/health/health3.jpg" alt="">
    </a>
    <div class="media-body align-self-center">
      <h3 class="post-title">
        <a href="#">Hands on with the Apple Watch Series 4 Apple Watch Series tourist</a>
      </h3>
      <span class="post-date-info">
        <i class="fa fa-clock-o"></i>
        March 21, 2019
      </span>
    </div>
  </div>
  <!-- end item-->
  <div class="post-content media">
    <a href="#">
      <img class="d-flex" src="/images/news/health/health2.jpg" alt="">
    </a>
    <div class="media-body align-self-center">
      <h3 class="post-title">
        <a href="#">help us make mfs better with our reader better with our reader  survey</a>
      </h3>
      <span class="post-date-info">
        <i class="fa fa-clock-o"></i>
        March 21, 2019
      </span>
    </div>
  </div>
  <!-- end item-->


  <!-- end item-->
  </div>
</div>
<!-- col end-->
