---
title: Adventures in Angular
description: A weekly podcast for the Angular programming community
layout: layouts/postlist.njk
pagination:
  data: collections.adv_in_angular
  size: 10
podcast: adv-in-angular
date: 2000-01-01
ignore: true
---

Adventures in Angular