---
title: JavaScript Jabber
description: A weekly podcast for JavaScript developers
layout: layouts/postlist.njk
pagination:
  data: collections.js_jabber
  size: 10
podcast: js-jabber
date: 2000-01-01
---

JavaScript Jabber