---
title: Outsourcing Oasis Podcast
description: A podcast about the ins and outs of hiring developers who are on-shore, near-shore, and off-shore.
layout: layouts/postlist.njk
pagination:
  data: collections.outsourcing_oasis
  size: 10
podcast: outsourcing-oasis
date: 2000-01-01
ignore: true
---

Clean Coders