---
title: Devchat.tv Remote Conferences
description: Conferences put on and produced by Devchat.tv 
layout: layouts/postlist.njk
pagination:
  data: collections.past_conferences
  size: 10
date: 2000-01-01
ignore: true
---

Confs