---
title: Elixir Mix Podcast
description: A weekly podcast for the Elixir programming community
layout: layouts/postlist.njk
pagination:
  data: collections.elixir_mix
  size: 10
podcast: elixir-mix
date: 2000-01-01
ignore: true
---

Elixir Mix