---
layout: layouts/base
---

<!-- start block wrapper -->
<section class="block-wrapper p-30" style="background: url(/images/banner-bg.png) no-repeat center center/cover">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 pr-10">
				<div class="ts-post-overlay-style-1 ts-post-style-5">
					{% for podcast in collections.podcast | head(-8) | reverse %}{% if loop.index > 3 %}{% if loop.index < 6 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-clock-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!-- col end-->
			<div class="col-lg-6 pl-0 pr-10">
				<div id="featured-slider-2" class="owl-carousel ts-overlay-style ts-featured">
					{% for podcast in collections.podcast | head(-4) | reverse %}{% if loop.index < 4 %}
						<div class="item" style="background-image:url(/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}})">
							<a class="post-cat ts-orange-bg" href="#">{{podcasts[ podcast.data.podcast ].title}}</a>
							<div class="overlay-post-content">
								<div class="post-content">
									<h2 class="post-title lg">
										<a href="{{podcast.url}}">{{podcast.data.title}}</a>
									</h2>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-calendar-o"></i>
											{{ podcast.date | date }}
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;">
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;">
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;"P>
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="active">
											<i class="fa fa-clock-o"></i>
											{{podcast.data.duration}}
										</li>
									</ul>
								</div>
							</div>
							<!--/ Featured post end -->
						</div>
						<!-- Item 1 end -->
					{% endif %}{% endfor %}
				</div>
				<!-- Featured owl carousel end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3 pl-0">
				<div class="ts-post-overlay-style-1">
					{% for podcast in collections.podcast | head(-8) | reverse %}{% if loop.index > 5 %}{% if loop.index < 8 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-clock-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!--col end-->
		</div>
	</div>
</section>
<!-- end  blog wrapper -->

<section class="block-wrapper p-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				{% set postslist = collections.new_programmers %}
				{% set title = 'New Programmers' %}
				{% set viewallurl = '/new_programmers' %}
				{% include 'post_list_5.njk' %}

				{% set postslist = collections.blog %}
				{% set title = 'Blog Posts' %}
				{% set viewallurl = '/blog' %}
				{% include 'post_list_5.njk' %}

			</div>
			<!-- col end-->
			<div class="col-lg-3">
				<div class="widgets widgets-item">
					<h3 class="widgets-title">
						<span>On social</span>
					</h3>
					<ul class="ts-block-social-list">
						<li class="ts-facebook">
							<a href="{{sitewide['facebook']}}">
								<i class="fa fa-facebook"></i>
								<b>Facebook </b>
							</a>

						</li>
						<li class="ts-twitter">
							<a href="{{sitewide['twitter']}}">
								<i class="fa fa-twitter"></i>
								<b>Twitter </b>
							</a>

						</li>
						<li class="ts-linkedin">
							<a href="{{sitewide['linkedin']}}">
								<i class="fa fa-linkedin"></i>
								<b>LinkedIn</b>
							</a>
						</li>
						<li class="ts-youtube">
							<a href="{{sitewide['youtube']}}">
								<i class="fa fa-youtube"></i>
								<b>YouTube</b>
							</a>

						</li>
					</ul>
				</div>
				<!-- end-->
				<div class="widgets widgets-item posts-ad">
					<a href="#">
						<img class="img-fluid" src="/images/banner/sidebar-banner3.png" alt="">
					</a>
				</div>
				<!-- widgets end-->
				<div class="widgets ts-grid-item  widgets-populer-post">
					<h3 class="widgets-title">
						<span>Latest Post</span>
					</h3>
					<div class="ts-overlay-style">
						<div class="item">
							<div class="ts-post-thumb">
								<a href="#">
									<img class="img-fluid" src="/images/news/health/health2.jpg" alt="">
								</a>
							</div>
							<div class="overlay-post-content">
								<div class="post-content">
									<h3 class="post-title">
										<a href="#">Tourism in Dubai is boom international tourist</a>
									</h3>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-clock-o"></i>
											March 21, 2019
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- ts-overlay-style  end-->

					<div class="post-content media">
						<img class="d-flex sidebar-img" src="/images/news/health/health8.jpg" alt="">
						<div class="media-body align-self-center">
							<h4 class="post-title">
								<a href="">Beats did something today, after all </a>
							</h4>
						</div>
					</div>
					<!-- post content end-->
					<div class="post-content media">
						<img class="d-flex sidebar-img" src="/images/news/health/health3.jpg" alt="">
						<div class="media-body align-self-center">
							<h4 class="post-title">
								<a href="">Tesla just lost its head of global finance </a>
							</h4>
						</div>
					</div>
					<!-- post content end-->
				</div>
				<!-- widgets end-->

			</div>
			<!-- col end-->
		</div>
	</div>
</section>

{% set postslist = collections.video %}
{% set title = 'Watch Now' %}
{% set viewallurl = '/video' %}
{% include 'watch_now.njk' %}


Pherph

<!-- block wrapper start-->
<section class="block-wrapper mt-15 md-mb-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					{% set postslist = collections.book_club %}
					{% set title = 'Book Club' %}
					{% set viewallurl = '/tags/book_club' %}
					{% include 'vertical_column.njk' %}

					{% set postslist = collections.design_patterns %}
					{% set title = 'Design Patterns' %}
					{% set viewallurl = '/tags/design_patterns' %}
					{% include 'vertical_column.njk' %}
				</div>
				<!-- row end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3">
				<div class="right-sidebar">
					<div class="widgets widgets-item ts-social-list-item">

						<div class="ts-widget-newsletter">
							<div class="newsletter-introtext">
								<h4>Newsletter</h4>
								<p>Subscribe to get the best stories into your inbox!</p>
							</div>

							<div class="newsletter-form">
								<form action="#" method="post">
									<div class="form-group">
										<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
										<button class="btn btn-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- widgets end-->
					<div class="widgets ts-grid-item  widgets-populer-post">
						<h3 class="widgets-title">
							<span>Category</span>
						</h3>
						<ul class="category-list">
							<li>
								<a href="#">Travel
									<span class="ts-orange-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Sports
									<span class="ts-green-bg">25</span>
								</a>
							</li>
							<li>
								<a href="#">Travel
									<span class="ts-orange-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Fashion
									<span class="ts-pink-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Technology
									<span class="ts-blue-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Game
									<span class="ts-yellow-bg">10</span>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- row end-->
	</div>
	<!-- container end-->
</section>
<!-- block wrapper end-->

