---
layout: layouts/base
date: 2000-01-01
---

<!-- start block wrapper -->
<section class="block-wrapper p-30" style="background: url(/images/banner-bg.png) no-repeat center center/cover">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 pr-10">
				<div class="ts-post-overlay-style-1 ts-post-style-5">
					{% for podcast in collections.podcast | head(-8)  %}{% if loop.index > 3 %}{% if loop.index < 6 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-calendar-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!-- col end-->
			<div class="col-lg-6 pl-0 pr-10">
				<div id="featured-slider-2" class="owl-carousel ts-overlay-style ts-featured">
					{% for podcast in collections.podcast | head(-4)  %}{% if loop.index < 4 %}
						<div class="item" style="background-image:url(/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}})">
							<a class="post-cat ts-orange-bg" href="#">{{podcasts[ podcast.data.podcast ].title}}</a>
							<div class="overlay-post-content">
								<div class="post-content">
									<h2 class="post-title lg">
										<a href="{{podcast.url}}">{{podcast.data.title}}</a>
									</h2>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-calendar-o"></i>
											{{ podcast.date | date }}
										</li>
									</ul>
								</div>
							</div>
							<!--/ Featured post end -->
						</div>
						<!-- Item 1 end -->
					{% endif %}{% endfor %}
				</div>
				<!-- Featured owl carousel end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3 pl-0">
				<div class="ts-post-overlay-style-1">
					{% for podcast in collections.podcast | head(-8)  %}{% if loop.index > 5 %}{% if loop.index < 8 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-calendar-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!--col end-->
		</div>
	</div>
</section>
<!-- end  blog wrapper -->

<section class="block-wrapper p-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				{% set postslist = collections.new_programmers %}
				{% set title = 'New Programmers' %}
				{% set viewallurl = '/new_programmers' %}
				{% include 'post_list_5.njk' %}

				{% set postslist = collections.blog %}
				{% set title = 'Blog Posts' %}
				{% set viewallurl = '/blog' %}
				{% include 'post_list_5.njk' %}

			</div>
			<!-- col end-->
			<div class="col-lg-3">
				{% include 'social_links.njk' %}

				{% include 'sitewide_sidebar_sponsors.njk' %}

			</div>
			<!-- col end-->
		</div>
	</div>
</section>

{% set postslist = collections.video %}
{% set title = 'Watch Now' %}
{% set viewallurl = '/video' %}
{% include 'watch_now.njk' %}


<!-- block wrapper start-->
<section class="block-wrapper mt-15 md-mb-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					{% set postslist = collections.book_club %}
					{% set title = 'Book Club' %}
					{% set viewallurl = '/tags/book_club' %}
					{% include 'vertical_column.njk' %}

					{% set postslist = collections.design_patterns %}
					{% set title = 'Design Patterns' %}
					{% set viewallurl = '/tags/design_patterns' %}
					{% include 'vertical_column.njk' %}
				</div>
				<!-- row end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3">
				<div class="right-sidebar">
					<div class="widgets widgets-item ts-social-list-item">

						<div class="ts-widget-newsletter">
							<div class="newsletter-introtext">
								<h4>Newsletter</h4>
								<p>Keep your skills current!</p>
							</div>
							{% include 'drip_form.njk' %}
						</div>
					</div>
					<!-- widgets end-->
				</div>
			</div>
		</div>
		<!-- row end-->
	</div>
	<!-- container end-->
</section>
<!-- block wrapper end-->

