---
layout: layouts/base
---

<!-- start block wrapper -->
<section class="block-wrapper p-30" style="background: url(/images/banner-bg.png) no-repeat center center/cover">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 pr-10">
				<div class="ts-post-overlay-style-1 ts-post-style-5">
					{% for podcast in collections.podcast | reverse %}{% if loop.index > 3 %}{% if loop.index < 6 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-clock-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!-- col end-->
			<div class="col-lg-6 pl-0 pr-10">
				<div id="featured-slider-2" class="owl-carousel ts-overlay-style ts-featured">
					{% for podcast in collections.podcast | reverse %}{% if loop.index < 4 %}
						<div class="item" style="background-image:url(/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}})">
							<a class="post-cat ts-orange-bg" href="#">{{podcasts[ podcast.data.podcast ].title}}</a>
							<div class="overlay-post-content">
								<div class="post-content">
									<h2 class="post-title lg">
										<a href="{{podcast.url}}">{{podcast.data.title}}</a>
									</h2>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-calendar-o"></i>
											{{ podcast.date | date }}
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;">
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;">
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="author" style="margin-right: 0px; padding-right: 0px;"P>
											<a href="#"><img src="/images/avater/author1.jpg" alt=""></a>
										</li>
										<li class="active">
											<i class="fa fa-clock-o"></i>
											{{podcast.data.duration}}
										</li>
									</ul>
								</div>
							</div>
							<!--/ Featured post end -->
						</div>
						<!-- Item 1 end -->
					{% endif %}{% endfor %}
				</div>
				<!-- Featured owl carousel end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3 pl-0">
				<div class="ts-post-overlay-style-1">
					{% for podcast in collections.podcast | reverse %}{% if loop.index > 5 %}{% if loop.index < 8 %}
						<div class="ts-overlay-style">
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-orange-bg" href="{{podcast.url}}">{{podcasts[ podcast.data.podcast ].title}}</a>
									<a href="{{podcast.url}}">
										<img class="img-fluid" src="/images/podcasts/{{podcasts[ podcast.data.podcast ].artwork}}" alt="">
									</a>
								</div>

								<div class="overlay-post-content">
									<div class="post-content">
										<h3 class="post-title">
											<a href="{{podcast.url}}">{{podcast.data.title}}</a>
										</h3>
										<ul class="post-meta-info">
											<li>
												<i class="fa fa-clock-o"></i>
												{{ podcast.data.date | date }}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!-- ts overlay style end-->
					{% endif %}{% endif %}{% endfor %}
				</div>
			</div>
			<!--col end-->
		</div>
	</div>
</section>
<!-- end  blog wrapper -->
foo 
{% for podcast in collections.new_programmers | reverse %}
foo
{{ podcast.data.title }}
{% endfor %}
<section class="block-wrapper p-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="ts-grid-item ts-grid-item1 mb-20">
					<div class="ts-title-item clearfix">
						<h2 class="ts-cat-title float-left">
							<span>Health</span>
						</h2>
						<div class="float-right">
							<a href="#" class="view-all-link">View All</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="item">
								<div class="ts-post-thumb">

									<a href="#">
										<img class="img-fluid" src="/images/news/health/health8.jpg" alt="">
									</a>
								</div>
								<div class="post-content">
									<a class="cat-name purple-color" href="#">Health</a>
									<h3 class="post-title md">
										<a href="#">They are backed up Kennedy Darling and Cras named to return</a>
									</h3>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-clock-o"></i>
											Jun 21, 2019
										</li>
									</ul>
									<p>
										Black farmers in the USA is South faced with the most continued failure in their efforts to run
									</p>
								</div>
							</div>
							<!-- ts-grid-box end-->
						</div>
						<!-- col end-->
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-6">
									<div class="item mb-20">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src="/images/news/health/health3.jpg" alt="">
											</a>
										</div>
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">Tourism Dubai booming international tourist</a>
											</h3>
											<span class="post-date-info">
												<i class="fa fa-clock-o"></i>
												March 21, 2019
											</span>
										</div>
									</div>
								</div>
								<!-- col end-->
								<div class="col-lg-6">
									<div class="item mb-20">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src="/images/news/health/health2.jpg" alt="">
											</a>
										</div>
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">Man plans to ride out Hurricane on a boat</a>
											</h3>
											<span class="post-date-info">
												<i class="fa fa-clock-o"></i>
												March 21, 2019
											</span>
										</div>
									</div>
								</div>
								<!-- col end-->
								<div class="col-lg-6">
									<div class="item">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src="/images/news/health/health1.jpg" alt="">
											</a>
										</div>
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">How to get the most when selling your iPhone</a>
											</h3>
											<span class="post-date-info">
												<i class="fa fa-clock-o"></i>
												March 21, 2019
											</span>
										</div>
									</div>
								</div>
								<!-- col end-->
								<div class="col-lg-6">
									<div class="item">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src="/images/news/health/health7.jpg" alt="">
											</a>
										</div>
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">Google vote-shifting threatens both right & left</a>
											</h3>
											<span class="post-date-info">
												<i class="fa fa-clock-o"></i>
												March 21, 2019
											</span>
										</div>
									</div>
								</div>
								<!-- col end-->
							</div>
						</div>
					</div>
					<!-- row end-->

				</div>
				<!-- ts grid item end-->

				<div class="ts-grid-item">
					<div class="ts-title-item clearfix">
						<h2 class="ts-cat-title float-left">
							<span>Sports</span>
						</h2>
						<div class="float-right">
							<a href="#" class="view-all-link">View All</a>
						</div>
					</div>
					<div class="row ts-grid-item ts-post-style-2">
						<div class="col-lg-8 ">
							<div class="ts-overlay-style featured-post">
								<div class="item " style="background-image:url(images/news/sports/sports1.jpg)">

									<div class="overlay-post-content">
										<div class="post-content">
											<a href="#" class="cat-name">Sports</a>
											<h3 class="post-title md">
												<a href="#">New York Fashion Week continues with its penultimate day featuring looks from Marc Jacobs and more.</a>
											</h3>
											<ul class="post-meta-info">
												<li class="author">
													<a href="#">
														<img src="/images/avater/author1.jpg" alt=""> Donald Ramos
													</a>
												</li>
												<li>
													<i class="fa fa-clock-o"></i>
													March 21, 2019
												</li>
												<li class="active">
													<i class="icon-fire"></i>
													3,005
												</li>
											</ul>
										</div>
									</div>
									<!--/ Featured post end -->
								</div>
							</div>
						</div>
						<!-- col end-->
						<div class="col-lg-4">
							<div class="ts-grid-content ts-list-post-box">
								<div class="item">
									<div class="ts-post-thumb">
										<a href="#">
											<img class="img-fluid" src="/images/news/sports/sports2.jpg" alt="">
										</a>
									</div>
									<div class="post-content">
										<h3 class="post-title">
											<a href="#">The clock is ticking for companies to block underage users</a>
										</h3>
										<span class="post-date-info">
											<i class="fa fa-clock-o"></i>
											March 21, 2019
										</span>
									</div>
								</div>
								<div class="item">
									<div class="post-content">
										<h3 class="post-title">
											<a href="#">10 critical points from Zuckerberg’s epic security manifesto</a>
										</h3>
										<span class="post-date-info">
											<i class="fa fa-clock-o"></i>
											March 21, 2019
										</span>
									</div>
								</div>
								<!-- end item-->
								<div class="item">
									<div class="post-content">
										<h3 class="post-title">
											<a href="#">Tourism in Dubai is booming by international tourist</a>
										</h3>
										<span class="post-date-info">
											<i class="fa fa-clock-o"></i>
											March 21, 2019
										</span>
									</div>
								</div>
								<!-- end item-->
							</div>
							<!-- ts grid box-->
						</div>
						<!-- col end-->

					</div>
				</div>
			</div>
			<!-- col end-->
			<div class="col-lg-3">
				<div class="widgets widgets-item">
					<h3 class="widgets-title">
						<span>On social</span>
					</h3>
					<ul class="ts-block-social-list">
						<li class="ts-facebook">
							<a href="#">
								<i class="fa fa-facebook"></i>
								<b>facebook </b>
								<span>1.5k</span>
							</a>

						</li>
						<li class="ts-google-plus">
							<a href="#">
								<i class="fa fa-google-plus"></i>
								<b>Google Plus </b>
								<span>1.5k</span>
							</a>

						</li>
						<li class="ts-twitter">
							<a href="#">
								<i class="fa fa-twitter"></i>
								<b>Twitter </b>
								<span>1.5k</span>
							</a>

						</li>
						<li class="ts-pinterest">
							<a href="#">
								<i class="fa fa-pinterest-p"></i>
								<b>facebook </b>
								<span>1.5k</span>
							</a>

						</li>
						<!-- <li class="ts-linkedin">
							<a href="#">
								<i class="fa fa-linkedin"></i>
								<b>12.5 k </b>
								<span>Follwers</span>
							</a>

						</li>
						<li class="ts-youtube">
							<a href="#">
								<i class="fa fa-youtube"></i>
								<b>12.5 k </b>
								<span>Follwers</span>
							</a>

						</li> -->
					</ul>
				</div>
				<!-- end-->
				<div class="widgets widgets-item posts-ad">
					<a href="#">
						<img class="img-fluid" src="/images/banner/sidebar-banner3.png" alt="">
					</a>
				</div>
				<!-- widgets end-->
				<div class="widgets ts-grid-item  widgets-populer-post">
					<h3 class="widgets-title">
						<span>Latest Post</span>
					</h3>
					<div class="ts-overlay-style">
						<div class="item">
							<div class="ts-post-thumb">
								<a href="#">
									<img class="img-fluid" src="/images/news/health/health2.jpg" alt="">
								</a>
							</div>
							<div class="overlay-post-content">
								<div class="post-content">
									<h3 class="post-title">
										<a href="#">Tourism in Dubai is boom international tourist</a>
									</h3>
									<ul class="post-meta-info">
										<li>
											<i class="fa fa-clock-o"></i>
											March 21, 2019
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- ts-overlay-style  end-->

					<div class="post-content media">
						<img class="d-flex sidebar-img" src="/images/news/health/health8.jpg" alt="">
						<div class="media-body align-self-center">
							<h4 class="post-title">
								<a href="">Beats did something today, after all </a>
							</h4>
						</div>
					</div>
					<!-- post content end-->
					<div class="post-content media">
						<img class="d-flex sidebar-img" src="/images/news/health/health3.jpg" alt="">
						<div class="media-body align-self-center">
							<h4 class="post-title">
								<a href="">Tesla just lost its head of global finance </a>
							</h4>
						</div>
					</div>
					<!-- post content end-->
				</div>
				<!-- widgets end-->

			</div>
			<!-- col end-->
		</div>
	</div>
</section>

<section class="block-wrapper p-30 section-bg">
	<div class="container">
		<div class="ts-title-item">
			<h2 class="ts-cat-title ">
				<span>Watch Now</span>
			</h2>
		</div>
		<!-- title item end-->
		<div class="row ts-grid-item ts-overlay-item ts-grid-style-2">
			<div class="col-lg-4">
				<div class="ts-overlay-style">
					<div class="item">
						<div class="ts-post-thumb">

							<a href="#">
								<img class="img-fluid" src="/images/news/travel/travel10.jpg" alt="">
							</a>
							<a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
								<i class="fa fa-play-circle-o "></i>
							</a>
						</div>
						<div class="overlay-post-content">
							<div class="post-content">
								<a class="post-cat ts-orange-bg" href="#">Travel</a>
								<h3 class="post-title">
									<a href="#">Tourism in Dubai is booming international tourist most visited place</a>
								</h3>
							</div>
						</div>
					</div>
					<!-- end item-->
				</div>
				<!-- ts overlay style end-->
			</div>
			<!-- col end-->
			<div class="col-lg-4">
				<div class="ts-overlay-style">
					<div class="item">
						<div class="ts-post-thumb">

							<a href="#">
								<img class="img-fluid" src="/images/news/foods/food8.jpg" alt="">
							</a>
							<a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
								<i class="fa fa-play-circle-o "></i>
							</a>
						</div>
						<div class="overlay-post-content">
							<div class="post-content">
								<a class="post-cat ts-yellow-bg" href="#">Food</a>
								<h3 class="post-title">
									<a href="#">The clock is ticking for e-cig companies to block underage users</a>
								</h3>
							</div>
						</div>
					</div>
					<!-- end item-->
				</div>
				<!-- ts overlay style end-->
			</div>
			<!-- col end-->
			<div class="col-lg-4">
				<div class="ts-overlay-style">
					<div class="item">
						<div class="ts-post-thumb">

							<a href="#">
								<img class="img-fluid" src="/images/news/sports/sports2.jpg" alt="">
							</a>
							<a href="https://www.youtube.com/watch?v=uZmz6fGRVW4" class="ts-video-icon">
								<i class="fa fa-play-circle-o "></i>
							</a>
						</div>
						<div class="overlay-post-content">
							<div class="post-content">
								<a class="post-cat ts-green-bg" href="#">Sports</a>
								<h3 class="post-title">
									<a href="#">10 critical points from Zuckerberg’s epic security manifesto</a>
								</h3>
							</div>
						</div>
					</div>
					<!-- end item-->
				</div>
				<!-- ts overlay style end-->
			</div>
			<!-- col end-->
		</div>
		<!-- row end-->
	</div>
	<!-- container end-->
</section>

<!-- block wrapper start-->
<section class="block-wrapper mt-15 md-mb-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-6">
						<div class="ts-title-item">
								<h2 class="ts-cat-title ">
									<span>Health</span>
								</h2>
							</div><!-- Title end -->
						<div class="post-list-box ts-list-post-box ts-grid-content">

							<div class="ts-overlay-style">
								<div class="item">
									<div class="ts-post-thumb">
										<a href="#">
											<img class="img-fluid" src="/images/news/health/health1.jpg" alt="">
										</a>

									</div>
									<div class="overlay-post-content">
										<div class="post-content">

											<h3 class="post-title md">
												<a href="#">Tourism Dubai booming international tourist most visited place</a>
											</h3>
										</div>
									</div>
								</div>
								<!-- end item-->
							</div>

							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/health/health4.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">help us make mfs better with our reader better with our reader survey</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->
							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/health/health3.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">Hands on with the Apple Watch Series 4 Apple Watch Series tourist</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->
							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/health/health2.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">help us make mfs better with our reader better with our reader  survey</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->


							<!-- end item-->
						</div>
					</div>
					<!-- col end-->
					<div class="col-lg-6">
						<div class="ts-title-item">
								<h2 class="ts-cat-title ">
									<span>Travel</span>
								</h2>
							</div><!-- Title end -->
						<div class="post-list-box ts-list-post-box ts-grid-content">

							<div class="ts-overlay-style">
								<div class="item">
									<div class="ts-post-thumb">
										<a href="#">
											<img class="img-fluid" src="/images/news/travel/travel1.jpg" alt="">
										</a>

									</div>
									<div class="overlay-post-content">
										<div class="post-content">

											<h3 class="post-title md">
												<a href="#">Youth vaping an 'epidemic'; crackdown coming</a>
											</h3>
										</div>
									</div>
								</div>
								<!-- end item-->
							</div>

							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/travel/travel2.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">Bitcoin Extends Range While Ethereum Hits New Yearly Low</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->
							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/travel/travel3.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">Tourism in Dubai is booming by international tourist</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->
							<div class="post-content media">
								<a href="#">
									<img class="d-flex" src="/images/news/travel/travel4.jpg" alt="">
								</a>
								<div class="media-body align-self-center">
									<h3 class="post-title">
										<a href="#">Beats did announce something today, after something today all</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>
							<!-- end item-->


							<!-- end item-->
						</div>
					</div>
					<!-- col end-->
				</div>
				<!-- row end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3">
				<div class="right-sidebar">
					<div class="widgets widgets-item ts-social-list-item">

						<div class="ts-widget-newsletter">
							<div class="newsletter-introtext">
								<h4>Newsletter</h4>
								<p>Subscribe to get the best stories into your inbox!</p>
							</div>

							<div class="newsletter-form">
								<form action="#" method="post">
									<div class="form-group">
										<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
										<button class="btn btn-primary">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- widgets end-->
					<div class="widgets ts-grid-item  widgets-populer-post">
						<h3 class="widgets-title">
							<span>Category</span>
						</h3>
						<ul class="category-list">
							<li>
								<a href="#">Travel
									<span class="ts-orange-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Sports
									<span class="ts-green-bg">25</span>
								</a>
							</li>
							<li>
								<a href="#">Travel
									<span class="ts-orange-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Fashion
									<span class="ts-pink-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Technology
									<span class="ts-blue-bg">10</span>
								</a>
							</li>
							<li>
								<a href="#">Game
									<span class="ts-yellow-bg">10</span>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- row end-->
	</div>
	<!-- container end-->
</section>
<!-- block wrapper end-->

