---
layout: layouts/base.njk
page_class: category-layout-5
---

<!-- block post area start-->
<section class="block-wrapper mt-15">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ts-grid-box entry-header">
          <ol class="ts-breadcrumb">
            <li>
              <a href="#">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            {% if tag %}
            <li>
              <a href="/tags">Tags</a>
            </li>
            <li>
              {{ tag }}
            </li>
            {% else %}
            {% if podcast %}
              <li>
                Podcasts
              </li>
              <li>
                <a href="/{{podcast}}">{{podcasts[ podcast ].title}}</a>
              </li>
            {% endif %}
            {% endif %}

          </ol>
          <div class="clearfix entry-cat-header">
            {% if tag %}
            <h2 class="ts-title float-left">Tag: "{{tag}}"</h2>
            {% else %}
            <h2 class="ts-title float-left">{{podcasts[ podcast ].title}}</h2>
            {% endif %}
          </div>
          <ul class="ts-category-list float-right"></ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        {% if tag %}
        {% set taggedposts = collections[tag] | reverse %}
        {% endif %}
        {% if podcast %}
        {% set taggedposts = pagination.items %}
        {% endif %}
        {%- for item in taggedposts -%}
        {% if loop.index % 2 == 1 %}
        <div class="row">
        {% endif %}
          <div class="col-lg-6 mb-10">
            <div class="ts-overlay-style">
              <div class="item">
                <div class="ts-post-thumb">
                  <a class="post-cat ts-orange-bg" href="/{{item.data.podcast}}">{{podcasts[item.data.podcast].title}}</a>
                  <a href="{{item.url | url}}">
                    <img class="img-fluid" src="{{item.data.image}}" alt="">
                  </a>
                </div>

                <div class="overlay-post-content">
                  <div class="post-content">
                    <h3 class="post-title md">
                      <a href="{{item.url | url}}">{{item.data.title}}</a>
                    </h3>
                    <ul class="post-meta-info">
                      <li>
                        <i class="fa fa-clock-o"></i>
                        {{item.data.date | date}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end item-->
            </div>
          </div>
        {% if loop.index % 2 == 0 %}
        </div>
        {% else %}
        {% if loop.index == loop.length %}
        </div>
        {% endif %}
        {% endif %}
        {%- endfor -%}
      </div>

      <div class="col-lg-3">
        <div class="right-sidebar-1">

          <div class="widgets widgets-item">
            <h3 class="widget-title">
              <span>On social</span>
            </h3>
            <ul class="ts-block-social-list">
              <li class="ts-facebook">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                  <b>facebook </b>
                  <span>1.5 k</span>
                </a>

              </li>
              <li class="ts-google-plus">
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                  <b>Google Plus </b>
                  <span>1.5 k</span>
                </a>

              </li>
              <li class="ts-twitter">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                  <b>Twitter </b>
                  <span>1.5 k</span>
                </a>

              </li>
              <li class="ts-pinterest">
                <a href="#">
                  <i class="fa fa-pinterest-p"></i>
                  <b>facebook </b>
                  <span>1.5 k</span>
                </a>

              </li>
              <!-- <li class="ts-linkedin">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                    <b>12.5 k </b>
                    <span>Follwers</span>
                  </a>
  
                </li>
                <li class="ts-youtube">
                  <a href="#">
                    <i class="fa fa-youtube"></i>
                    <b>12.5 k </b>
                    <span>Follwers</span>
                  </a>
  
                </li> -->
            </ul>
          </div>
          <!-- widgets end-->

          <div class="widgets widget-banner">
            <a href="#">
              <img class="img-fluid" src="/images/banner/sidebar-banner4.jpg" alt="">
            </a>
          </div>
          <!-- widgets end-->
          <div class="post-list-item widgets">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
                <a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                  <i class="fa fa-clock-o"></i>
                  Recent
                </a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                  <i class="fa fa-heart"></i>
                  Favorites
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/sports/sports2.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="green-color"> sports</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">18 month old shoots himself by gun </a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media ">
                  <img class="d-flex sidebar-img" src="/images/news/tech/tech4.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="yellow-color"> Technology</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">Beats did announce something today</a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/sports/sports3.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="blue-color"> Lifestyle</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">18 month old shoots himself by gun </a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/fashion/fashion4.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="pink-color"> Fashion</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">Beats did announce something today</a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->

              </div>
              <!--ts-grid-box end -->

              <div role="tabpanel" class="tab-pane ts-grid-box post-tab-list" id="profile">
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/sports/sports2.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="green-color"> sports</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">Beats did announce something today</a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media ">
                  <img class="d-flex sidebar-img" src="/images/news/tech/tech4.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="yellow-color"> Technology</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">18 month old shoots himself by gun </a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/sports/sports2.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="blue-color"> Lifestyle</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">Beats did announce something today</a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="/images/news/fashion/fashion4.jpg" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      <a href="#" class="pink-color"> Fashion</a>
                    </span>
                    <h4 class="post-title">
                      <a href="">18 month old shoots himself by gun </a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
              </div>
              <!--ts-grid-box end -->
            </div>
            <!-- tab content end-->
          </div>
          <!-- widgets end-->

          <div class="widgets category-widget widgets-item">
            <h3 class="widget-title">
              <span>On social</span>
            </h3>
            <ul class="category-list">
              <li>
                <a href="#">Travel
                  <span class="ts-orange-bg">10</span>
                </a>
              </li>
              <li>
                <a href="#">Sports
                  <span class="ts-green-bg">25</span>
                </a>
              </li>
              <li>
                <a href="#">Travel
                  <span class="ts-orange-bg">10</span>
                </a>
              </li>
              <li>
                <a href="#">Fashion
                  <span class="ts-pink-bg">10</span>
                </a>
              </li>
              <li>
                <a href="#">Technology
                  <span class="ts-blue-bg">10</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="widgets widgets-item">
            <div class="ts-widget-newsletter">
              <div class="newsletter-introtext">
                <h4>Newsletter</h4>
                <p>Subscribe to get the best stories into your inbox!</p>
              </div>

              <div class="newsletter-form">
                <form action="#" method="post">
                  <div class="form-group">
                    <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
                    <button class="btn btn-primary">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row end-->
  </div>
  <!-- container end-->
</section>
<!-- block area end-->
