---
layout: layouts/base.njk
---

	<!-- single post start -->
	<section class="single-post-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<ol class="breadcrumb">
						<li>
							<a href="/">
								<i class="fa fa-home"></i>
								Home
							</a>
						</li>
						{% if podcast %}
						<li>
							<a href="/{{podcast}}">{{podcasts[podcast].title}}</a>
						</li>
						{% endif %}
						
						{% if blog %}
						<li>
							<a href="/blog">Blog</a>
						</li>
						{% endif %}
						
						<li>{{title | safe}}</li>
					</ol>
					<!-- breadcump end-->
					<div class="ts-grid-box content-wrapper single-post">
						<div class="entry-header">
							<h2 class="post-title lg">{{ title }}</h2>
							<ul class="post-meta-info">
								{% if author %}
								<li class="author">
									<a href="#">
										<img src="/images/authors/{{authors[author].photo}}" alt=""> {{ authors[author].name }}
									</a>
								</li>
								{% endif %}
								<li>
									<i class="fa fa-calendar-o"></i>
									{{ date | date }}
								</li>
								<li class="share-post">
									Share:
									<div class="sharethis-inline-share-buttons"></div>
								</li>
							</ul>
						</div>
						<!-- single post header end-->
						<div class="post-content-area">
							<div class="post-media post-featured-image">
								{% if youtube_video_id %}
									{{ youtube_video_id | embed_youtube | safe}}
								{% else %}
									{% if audio_url %}
										<div class="pcast-player">
											<div class="pcast-player-controls">
												<button class="pcast-play"><i class="fa fa-play"></i><span>Play</span></button>
												<button class="pcast-pause"><i class="fa fa-pause"></i><span>Pause</span></button>
												<button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
												<span class="pcast-currenttime pcast-time">00:00</span>
												<progress class="pcast-progress" value="0"></progress>
												<span class="pcast-duration pcast-time">{{duration}}</span>
												<button class="pcast-speed">1x</button>
												<button class="pcast-mute"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
											</div>
											<audio src="{{audio_url}}"></audio><a class="pcast-download" href="{{audio_url}}" download>Download MP3</a>
										</div>
									{% else %}
										<img src="{{ image }}" class="img-fluid" alt="">
									{% endif %}
								{% endif %}
							</div>
							<div class="entry-content">
								{{ content | safe }}
							</div>
						</div>

						{% if author %}
						<!-- post content area-->
						<div class="author-box">
							<img class="author-img" src="/images/authors/{{authors[author].photo}}" alt="">
							<div class="author-info">
								<h4 class="author-name">{{authors[author].name}}</h4>
								<div class="authors-social">
									{% if authors[author].twitter %}
									<a href="{{authors[author].twitter}}" class="ts-twitter">
										<i class="fa fa-twitter"></i>
									</a>
									{% endif %}
									{% if authors[author].facebook %}
									<a href="{{authors[author].facebook}}" class="ts-facebook">
										<i class="fa fa-facebook"></i>
									</a>
									{% endif %}
									{% if authors[author].instagram %}
									<a href="{{authors[author].instagram}}" class="ts-google-plus">
										<i class="fa fa-instagram"></i>
									</a>
									{% endif %}
									{% if authors[author].linkedin %}
									<a href="{{authors[author].linkedin}}" class="ts-linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
									{% endif %}
								</div>
								<div class="clearfix"></div>
								<p>{{authors[author].bio}}</p>

							</div>
						</div>
						<!-- author box end-->
						{% endif %}
					</div>
					<!--single post end -->
					<div class="comments-form ts-grid-box">
					<div id="disqus_thread"></div>
						<script>
						var disqus_config = function () {
						this.page.url = '{page.url | url}}';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '{{page.url | url}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};

						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://devchattv.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
					<!-- comment form end-->

					<div class="ts-grid-box mb-30">
						<h2 class="ts-title">Most Popular</h2>

						<div class="most-populers owl-carousel">
							{%- for post in collections.popular -%}
							<div class="item">
								<a class="post-cat ts-yellow-bg" href="/{{post.data.podcast}}">{{podcasts[post.data.podcast].title}}</a>
								<div class="ts-post-thumb">
									<a href="{{post.url | url}}">
										<img class="img-fluid" src="{{post.data.image}}" alt="">
									</a>
								</div>
								<div class="post-content">
									<h3 class="post-title">
										<a href="{{post.url | url}}">{{post.data.title}}</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										{{post.data.date | date}}
									</span>
								</div>
							</div>
							<!-- ts-grid-box end-->
							{%- endfor -%}
						</div>
						<!-- most-populers end-->
					</div>

				</div>
				<!-- col end -->
				<div class="col-lg-3">
        {% include 'subscribe.njk' %}

        {% include 'social_links.njk' %}

        {% if podcast %}
          {% include podcasts[ podcast ].sponsor_layout %}
        {% else %}
          {% include 'sitewide_sidebar_sponsors.njk' %}
        {% endif %}

          <div class="post-list-item widgets">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
                <a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                  <i class="fa fa-clock-o"></i>
                  Recent
                </a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                  <i class="fa fa-heart"></i>
                  Favorites
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
                {% for post in collections.all | head(-5) | reverse %}
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="{{post.data.image}}" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      {% set postColor = "pink" %}
                      {% set postParent = "blog" %}
                      {% set show = "Blog" %}
                      {% if post.data.podcast %}
                        {% set podcast = podcasts[ post.data.podcast ] %}
                        {% set postColor = podcast.color %}
                        {% set postParent = podcast.title %}
                        {% set show = podcast.title %}
                      {% endif %}
                      
                      <a href="/{{postParent}}" class="{{postColor}}-color"> {{show}}</a>
                    </span>
                    <h4 class="post-title">
                      <a href="{{post.url | url}}">{{post.data.title}} </a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                {% endfor %}
              </div>
              <!--ts-grid-box end -->

              <div role="tabpanel" class="tab-pane ts-grid-box post-tab-list" id="profile">
                {% for post in collections.popular | head(-5) %}
                <div class="post-content media">
                  <img class="d-flex sidebar-img" src="{{post.data.image}}" alt="">
                  <div class="media-body">
                    <span class="post-tag">
                      {% set postColor = "pink" %}
                      {% set postParent = "blog" %}
                      {% set show = "Blog" %}
                      {% if post.data.podcast %}
                        {% set podcast = podcasts[ post.data.podcast ] %}
                        {% set postColor = podcast.color %}
                        {% set postParent = podcast.title %}
                        {% set show = podcast.title %}
                      {% endif %}
                      
                      <a href="/{{postParent}}" class="{{postColor}}-color"> {{show}}</a>
                    </span>
                    <h4 class="post-title">
                      <a href="{{ post.url | url }}">{{post.data.title}}</a>
                    </h4>
                  </div>
                </div>
                <!--post-content end-->
                {% endfor %}
              </div>
              <!--ts-grid-box end -->
            </div>
            <!-- tab content end-->
          </div>
          <!-- widgets end-->
				</div>
				<!-- col end-->
			</div>
			<!-- row end-->
		</div>
		<!-- container-->
	</section>
	<!-- single post end-->
