---
title: The Dev Rev
description: The Developer Revolution - Level up, keep current, build a great career, find freedom
layout: layouts/postlist.njk
pagination:
  data: collections.dev_rev
  size: 10
podcast: dev-rev
date: 2000-01-01
---

The Dev Rev