---
title: Rails Clips
description: Videos demonstrating how to build applications using Ruby on Rails
layout: layouts/postlist.njk
pagination:
  data: collections.rails_clips
  size: 10
podcast: rails-clips
date: 2000-01-01
---

Rails Clips