---
title: The Dev Ed Podcast
description: A podcast devoted to teaching developers and how they learn
layout: layouts/postlist.njk
pagination:
  data: collections.dev_ed
  size: 10
podcast: dev-ed
date: 2000-01-01
---

Dev Ed