---
title: Data Therapy
description: A weekly session about Data Science and Machine Learning
layout: layouts/postlist.njk
pagination:
  data: collections.data_therapy
  size: 10
podcast: data-therapy
date: 2000-01-01
ignore: true
---

Data Therapy