---
title: My Ruby Story
description: Interviews with Ruby developers telling their story getting into programming, Ruby, and what they are doing now
layout: layouts/postlist.njk
pagination:
  data: collections.my_ruby_story
  size: 10
podcast: my-ruby-story
date: 2000-01-01
ignore: true
---

My Ruby Story