---
title: Adventures in .NET
description: A weekly podcast about .NET
layout: layouts/postlist.njk
pagination:
  data: collections.adventures_in_dotnet
  size: 10
podcast: adventures_in_dotnet
date: 2000-01-01
---

Adventures in .NET