---
layout: layouts/post.njk
title: >
  Teach Me to Code Application Recommendations
date: 2001-01-01 00:00:00
podcast: sustain-our-software
hide_date: true
hide_image: true
---
<p>This series has not been updated in a while, but I'm considering starting again with building apps and walking through the process. Let me know what applications you'd like to see me build.</p>
<div data-canny></div>
<script>!function(w,d,i,s){function l(){if(!d.getElementById(i)){var f=d.getElementsByTagName(s)[0],e=d.createElement(s);e.type="text/javascript",e.async=!0,e.src="https://canny.io/sdk.js",f.parentNode.insertBefore(e,f)}}if("function"!=typeof w.Canny){var c=function(){c.q.push(arguments)};c.q=[],w.Canny=c,"complete"===d.readyState?l():w.attachEvent?w.attachEvent("onload",l):w.addEventListener("load",l,!1)}}(window,document,"canny-jssdk","script");</script>
<script>
  Canny('render', {
    boardToken: 'd7d6ccd2-833f-b7fb-ce20-8c0be428f80d',
    basePath: null, // See step 2
    ssoToken: null, // See step 3
  });
</script>