---
layout: layouts/post.njk
title: >
  Sponsor a Podcast
date: 2000-01-01
episode_number:
duration:
audio_url:
hide_date: true
tags:
  - page
---

<h2>Curremt Shows</h2>

<table class="table table-striped">
  <thead>
    <th> Podcast </th>
    <th> Size </th>
    <th> Pre-Roll </th>
    <th> Opens </th>
    <th> Mid-Roll #1 </th>
    <th> Opens </th>
    <th> Mid-Roll #2 </th>
    <th> Opens </th>
  </thead>
  <tbody>
    <tr>
      <td> Javascript Jabber </td>
      <td> 24k </td>
      <td> $1400 </td>
      <td> Jul 2 </td>
      <td> $1260 </td>
      <td> Oct 8 </td>
      <td> $1120 </td>
      <td> Jun 25 </td>
    </tr>
    <tr>
      <td> My JavaScript Story </td>
      <td> 15k </td>
      <td> $1050 </td>
      <td> Oct 8 </td>
      <td> $840 </td>
      <td> Now </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> Ruby Rogues </td>
      <td> 8.5k </td>
      <td> $425 </td>
      <td> Oct 8 </td>
      <td> $380 </td>
      <td> Jul 2 </td>
      <td> $340 </td>
      <td> Jun 25 </td>
    </tr>
    <tr>
      <td> My Ruby Story </td>
      <td> 6.5k </td>
      <td> $325 </td>
      <td> Oct 8 </td>
      <td> $260 </td>
      <td> Now </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> Adventures in Angular </td>
      <td> 8.5k </td>
      <td> $425 </td>
      <td> Oct 8 </td>
      <td> $380 </td>
      <td> Oct 15 </td>
      <td> $340 </td>
      <td> Jul 2 </td>
    </tr>
    <tr>
      <td> My Angular Story </td>
      <td> 6.5k </td>
      <td> $325 </td>
      <td> Oct 8 </td>
      <td> $260 </td>
      <td> Jul 2 </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> Dev Ed Podcast </td>
      <td> 4k </td>
      <td> $200 </td>
      <td> Now </td>
      <td> $180 </td>
      <td> Now </td>
      <td> $160 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td colspan="8">
        <strong>NOTE:</strong> We just acquired this show from <a href="https://thinkster.io">Thinkster.io</a>
      </td>
    <tr>
      <td> The Freelancers' Show </td>
      <td> 4k </td>
      <td> $200 </td>
      <td> Oct 8 </td>
      <td> $180 </td>
      <td> Now </td>
      <td> $160 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td> iPhreaks </td>
      <td> 4k </td>
      <td> $200 </td>
      <td> Oct 8 </td>
      <td> $180 </td>
      <td> Now </td>
      <td> $160 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td> React Native Radio </td>
      <td> 4k </td>
      <td> $200 </td>
      <td> July 16 </td>
      <td> $180 </td>
      <td> Now </td>
      <td> $160 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td> Views on Vue </td>
      <td> 2k </td>
      <td> $150 </td>
      <td> Oct 8 </td>
      <td> $135 </td>
      <td> Now </td>
      <td> $120 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td> React Round Up </td>
      <td> 1.5k </td>
      <td> $150 </td>
      <td> Oct 8 </td>
      <td> $135 </td>
      <td> Now </td>
      <td> $120 </td>
      <td> Now </td>
    </tr>
    <tr>
      <td> Elixir Mix </td>
      <td> 1.2k </td>
      <td> $150 </td>
      <td> Oct 8 </td>
      <td> $135 </td>
      <td> Now </td>
      <td> $120 </td>
      <td> Now </td>
    </tr>
  </tbody>
</table>


<h2>Upcoming Shows<h2>

New shows can be sponsored can be sponsored at the following rates.

- Pre-Roll: $150
- Mid-Roll: $135
- Mid-Roll #2: $120

These rates help us cover the costs of production an promotion.

<table class="table table-striped">
  <thead>
    <th>Podcast<th>
    <th>Status</th>
    <th>Planned Release</th>
  </thead>
  <tbody>
    <tr>
      <td>Sustain Our Software</td>
      <td>Recording</td>
      <td>Mid-July</td>
    </tr>
    <tr>
      <td>Data Therapy</td>
      <td>Recording</td>
      <td>Early July</td>
    </tr>
    <tr>
      <td>Adventures in Blockchain</td>
      <td>Recording</td>
      <td>Mid-July</td>
    </tr>
    <tr>
      <td>Adventures in DevOps</td>
      <td>Recording</td>
      <td>Mid-July</td>
    </tr>
    <tr>
      <td>Adventures in .NET</td>
      <td>Recording</td>
      <td>Late July</td>
    </tr>
    <tr>
      <td>Adventures in Python</td>
      <td>Planned - Recruiting Hosts</td>
      <td>August</td>
    </tr>
</table>