---
layout: layouts/post.njk
title: >
  Subscribe
episode_number:
duration:
audio_url:
hide_date: true
unlisted: true
tags:
  - page
---

<h2>Current Shows</h2>
{% for podcast in podcastList %}
{% if podcasts[ podcast ].current == true %}
<h3>{{podcasts[ podcast ].title}}</h3>
{% if podcasts[ podcast ].itunes %}<a href="{{podcasts[ podcast ].itunes}}"><img height="45px" src="/images/badges/itunes.png"></a>{% endif %}
{% if podcasts[ podcast ].google_play %}<a href='{{podcasts[ podcast ].google_play}}' rel='nofollow'><img height='45px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>{% endif %}
{% if podcasts[ podcast ].stitcher %}<a href="{{podcasts[ podcast ].stitcher}}"><img height="45px" src="/images/badges/Stitcher-Badge.png"></a>{% endif %}
{% if podcasts[ podcast ].spotify %}<a href="{{podcasts[ podcast ].spotify}}"><img height="45px" src="/images/badges/spotify.png"></a>{% endif %}
{% if podcasts[ podcast ].youtube %}<a href="{{podcasts[ podcast ].youtube}}"><img height="45px" src="/images/badges/youtube.png"></a>{% endif %}
{% if podcasts[ podcast ].rss %}<a href="{{podcasts[ podcast ].rss}}"><img height="45px" src="/images/badges/rss-subscribe.png"></a>{% endif %}
<br>
<br>
{% endif %}
{% endfor %}

<h2>Aggregated Feeds</h2>
{% for feed in feedList %}
<h3>{{feeds[ feed ].title}}</h3>
{% if feeds[ feed ].itunes %}<a href="{{feeds[ feed ].itunes}}"><img height="45px" src="/images/badges/itunes.png"></a>{% endif %}
{% if feeds[ feed ].google_play %}<a href='{{feeds[ feed ].google_play}}' rel='nofollow'><img height='45px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>{% endif %}
{% if feeds[ feed ].stitcher %}<a href="{{feeds[ feed ].stitcher}}"><img height="45px" src="/images/badges/Stitcher-Badge.png"></a>{% endif %}
{% if feeds[ feed ].rss %}<a href="{{feeds[ feed ].rss}}"><img height="45px" src="/images/badges/rss-subscribe.png"></a>{% endif %}
<br>
<br>
{% endfor %}

<h2>Retired Shows</h2>
{% for podcast in podcastList %}
{% if podcasts[ podcast ].current !== true %}
<h3>{{ podcasts[ podcast ]["title"]}}</h3>
{% if podcasts[ podcast ].itunes %}<a href="{{podcasts[ podcast ].itunes}}"><img height="45px" src="/images/badges/itunes.png"></a>{% endif %}
{% if podcasts[ podcast ].google_play %}<a href='{{podcasts[ podcast ].google_play}}' rel='nofollow'><img height='45px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>{% endif %}
{% if podcasts[ podcast ].stitcher %}<a href="{{podcasts[ podcast ].stitcher}}"><img height="45px" src="/images/badges/Stitcher-Badge.png"></a>{% endif %}
{% if podcasts[ podcast ].spotify %}<a href="{{podcasts[ podcast ].spotify}}"><img height="45px" src="/images/badges/spotify.png"></a>{% endif %}
{% if podcasts[ podcast ].youtube %}<a href="{{podcasts[ podcast ].youtube}}"><img height="45px" src="/images/badges/youtube.png"></a>{% endif %}
{% if podcasts[ podcast ].rss %}<a href="{{podcasts[ podcast ].rss}}"><img height="45px" src="/images/badges/rss-subscribe.png"></a>{% endif %}
<br>
<br>
{% endif %}
{% endfor %}
