---
renderData:
  title: Tagged "{{ tag }}" on Devchat.tv
  description: Various blog posts and podcast episodes tagged "{tag}"
layout: layouts/postlist.njk
unlisted: true
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - elixir_mix
    - adv_in_angular
    - iphreaks
    - freelancers
    - ruby_rogues
    - my_angular_story
    - my_javascript_story
    - my_ruby_story
    - rails_clips
    - remote_conf_talks
    - react_round_up
    - react_native_radio
    - teachmetocode
    - tmtc_screencasts
    - views_on_vue
    - web_sec_warriors
    - nav
    - page
    - podcast
    - js_jabber
    - dev_rev
    - blog
permalink: /tags/{{ tag }}/
date: 2000-01-01
---
