---
layout: layouts/post.njk
title: >
  Workshops
episode_number:
duration:
audio_url:
hide_date: true
eleventyExcludeFromCollections: true
priority: 1
changefreq: 'daily'
tags:
  - page
---

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Find Your Dream Developer Job</h2>
  <h3><em>This course starts March 9, 2020</em></h3>
  <div class="row">
    <div class="col-6">
      <h3>This workshop includes:<h3>
      <ul>
        <li>A weekly group coaching call with Charles Max Wood.</li>
        <li>A copy of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
        <li>The video companion course for <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
        <li>Access to the MaxCoders forums.</li>
        <li>Resume and cover letter reviews.</li>
      </ul>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;author of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>. This workshop will walk you through the process of finding a job you'll love to go to every day.</p>
      <p>Whether you're looking for your first development job or your next development job, your success is contingent on how you meet people and show them that you're the kind of person they're looking to have on their team.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to find your dream job.</p>
    </div>
  </div>
  <div>
    <a href="https://maxcoders.io/register/find-your-dream-developer-job-video-course-group-coaching/" class="btn btn-large btn-primary" style="margin: 0 auto;">Sign Up Today</a>
  </div>
</div>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Staying Current</h2>
  <div class="row">
    <div class="col-6">
      This workshop includes:
      <ul>
        <li>A weekly group coaching call with Charles Max Wood.</li>
        <li>The video course outlining strategies and secrets to staying current.</li>
        <li>A walkthrough on how to learn new technologies quickly.</li>
        <li>A rubric for self-evaluation of your programming skills.</li>
        <li>Access to the MaxCoders forums.</li>
      </ul>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;host and producer of more than 20 podcasts over the last 10 years. This workshop will walk you through the process of keeping your skills and knowledge current so you can find great jobs, become a speaker, and/or advance your career.</p>
      <p>.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to find your dream job.</p>
      <a href="#" class="btn-large btn-primary">Sign Up Today</a>
    </div>
  </div>
</div>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Find Your Dream Developer Job</h2>
  <div class="row">
    <div class="col-6">
      This workshop includes:
      <ul>
        <li>A weekly group coaching call with Charles Max Wood</li>
        <li>A free copy of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
        <li>The video companion course for <i>The MaxCoder's Guid to Finding Your Dream Developer Job</i>.</li>
        <li>Access to the MaxCoders forums.</li>
        <li>Resume and cover letter reviews.</li>
      </ul>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;author of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>. This workshop will walk you through the process of finding a job you'll love to go to every day.</p>
      <p>Whether you're looking for your first development job or your next development job, your success is contingent on how you meet people and show them that you're the kind of person they're looking to have on their team.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to find your dream job.</p>
      <a href="#" class="btn-large btn-primary">Sign Up Today</a>
    </div>
  </div>
</div>

<h1>Masterminds</h1>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Find Your Dream Developer Job</h2>
  <div class="row">
    <div class="col-6">
      This workshop includes:
      <ul>
        <li>A weekly group coaching call with Charles Max Wood</li>
        <li>A free copy of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
        <li>The video companion course for <i>The MaxCoder's Guid to Finding Your Dream Developer Job</i>.</li>
        <li>Access to the MaxCoders forums.</li>
        <li>Resume and cover letter reviews.</li>
      </ul>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;author of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>. This workshop will walk you through the process of finding a job you'll love to go to every day.</p>
      <p>Whether you're looking for your first development job or your next development job, your success is contingent on how you meet people and show them that you're the kind of person they're looking to have on their team.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to find your dream job.</p>
      <a href="#" class="btn-large btn-primary">Sign Up Today</a>
    </div>
  </div>
</div>
