---
layout: layouts/post.njk
title: >
  Workshops
episode_number:
duration:
audio_url:
hide_date: true
eleventyExcludeFromCollections: true
priority: 1
changefreq: 'daily'
tags:
  - page
---

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Find Your Dream Developer Job</h2>
  <h3>
    <em>This course starts March 9, 2020</em><br>
    Limit 12
  </h3>
  <div class="row">
    <div class="col-6">
      <h3>This workshop includes:</h3>
      <strong>
        <ul>
          <li>A weekly group coaching call with Charles Max Wood.</li>
          <li>A copy of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
          <li>The video companion course for <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>.</li>
          <li>Access to the MaxCoders forums.</li>
          <li>Resume and cover letter reviews.</li>
        </ul>
      </strong>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;author of <i>The MaxCoder's Guide to Finding Your Dream Developer Job</i>. This workshop will walk you through the process of finding a job you'll love to go to every day.</p>
      <p>Whether you're looking for your first development job or your next development job, your success is contingent on how you meet people and show them that you're the kind of person they're looking to have on their team.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to find your dream job.</p>
    </div>
  </div>
  <div style="text-align: center;">
    <a href="https://maxcoders.io/register/find-your-dream-developer-job-video-course-group-coaching/" class="btn btn-large btn-primary">Sign Up Today</a>
  </div>
</div>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Staying Current</h2>
  <h3>
    <em>This course starts March 9, 2020</em><br>
    Limit 12
  </h3>
  <div class="row">
    <div class="col-6">
      <h3>This workshop includes:</h3>
      <strong>
        <ul>
          <li>A weekly group coaching call with Charles Max Wood.</li>
          <li>The video course outlining strategies and secrets to staying current.</li>
          <li>A walkthrough on how to learn new technologies quickly.</li>
          <li>A rubric for self-evaluation of your programming skills.</li>
          <li>Access to the MaxCoders forums.</li>
        </ul>
      </strong>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;host and producer of more than 20 podcasts. This workshop will walk you through the process he uses to keeping your skills and knowledge current.</p>
      <p>You may want to learn to stay current so you can find great jobs, become a speaker, write blog posts, or advance your career in other ways.</p>
      <p>Join Charles Max Wood over the next 2 months and have him teach you skills that will help you advance the rest of your career.</p>
    </div>
  </div>
  <div style="text-align: center;">
    <a href="https://maxcoders.io/register/staying-current-video-course-and-group-coaching/" class="btn btn-large btn-primary">Sign Up Today</a>
  </div>
</div>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>Start Your Own Podcast</h2>
  <h3>
    <em>This course starts March 9, 2020</em><br>
    Limit 12
  </h3>
  <div class="row">
    <div class="col-6">
      <h3>This workshop includes:</h3>
      <strong>
        <ul>
          <li>A weekly group coaching call with Charles Max Wood.</li>
          <li>Video walkthroughs for setting up your website, hosting media, tracking stats, and building an audience.</li>
          <li>Access to the MaxCoders forums.</li>
          <li>Podcast launch strategy for new podcasts.</li>
          <li>Social media strategy for promoting podcasts.</li>
        </ul>
      </strong>
    </div>
    <div class="col-6">
      <p>A 2 month workshop from Charles Max Wood&mdash;producer, host, and creator of over 20 podcasts and 1,000 podcast episodes over the last 10 years. This workshop will walk you through the process of launching and promoting your own podcast.</p>
      <p>This course goes into how to set up your podcast, host your podcast media, post it to multiple locations, and grow your audience.</p>
      <p>Join Charles Max Wood over the next 2 months and have him guide you to starting your podcast.</p>
    </div>
  </div>
  <div style="text-align: center;">
    <a href="https://maxcoders.io/register/launch-your-podcast-video-course-group-coaching/" class="btn btn-large btn-primary">Sign Up Today</a>
  </div>
</div>

<h1>Masterminds</h1>

<div class="jumbotron" style="border: 2px solid #4db2ec; background-color: white;">
  <h2>MaxCoders Mastermind</h2>
  <h3>
    <em>The Mastermind starts March 9, 2020</em><br>
    Limit 10
  </h3>
  <div class="row">
    <div class="col-6">
      <h3>This mastermind includes:</h3>
      <strong>
        <ul>
          <li>A weekly mastermind call with rotating hotseat led by Charles Max Wood.</li>
          <li>Advice, encouragment and accountability from your fellow mastermind members.</li>
          <li>Access to the MaxCoders forums.</li>
          <li>100% confidentiality.</li>
          <li>Monthly call with an expert in some aspect of personal or professional growth.</li>
          <li>Weekly book club assignments.<li>
          <li>A yearly in-person get together.</li>
        </ul>
      </strong>
    </div>
    <div class="col-6">
      <p>Masterminds were written about in <em>Think and Grow Rich</em> by Napoleon Hill. It's a group of people putting their heads together to work for a common goal. Our goal is individual excellence for our members.</em>
      <p>This mastermind will help you grow a business, enhance your career, or become the kind of person and programmer you'd like to be.</p>
      <p>Due to the nature of the mastermind and how we push each other, you will need to apply to the mastermind.</p>
    </div>
  </div>
  <div style="text-align: center;">
    <a href="https://chuck193704.typeform.com/to/UE6va7" class="btn btn-large btn-primary">Apply Now</a>
  </div>
</div>